<ion-view view-title="Frequency">
  <ion-content>
    <h3 class="mid">
      Select a frequency or take the test
    </h3>
    <ion-list>
      <ion-item class="button button-full button-stable button-large">
        100 Hz
      </ion-item>

      <ion-item class="button button-full button-stable button-large">
        250 Hz
      </ion-item>

      <ion-item class="button button-full button-stable button-large">
        500 Hz
      </ion-item>

      <ion-item class="button button-full button-stable button-large">
        1 KHz
      </ion-item>

      <ion-item class="button button-full button-stable button-large">
        2 KHz
      </ion-item>

      <ion-item class="button button-full button-stable button-large">
        4 KHz
      </ion-item>

      <ion-item class="button button-full button-stable button-large">
        8 KHz
      </ion-item>

      <div class="padding">
      </div>

      <button class="button button-block button-assertive button-large">
        Take the test!
      </button>

    </ion-list>
  </ion-content>
</ion-view>
